:root{
    --global-color-primary: #1B80BF;
    --global-color-secondary-light: #1EA4D9;
    --global-color-secondary-dark:#F22E62;
    --global-background-color-light: #77BDD9;
    --global-background-color-dark: #BF2C47;
}