.login-header{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 50px;
}
.loginFb-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 15px;
}