.mess-body {
  height: 100vh;
  overflow: hidden;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #f0f2f5;
  max-width: 1920px;
}
.mess-header {
  text-align: center;
}


@media only screen and (max-width: 1024px) {
  .mess-body{
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
  }
}